
<!-- <div class="containercard1"> -->
    <div class="title">
        <div> <span >{{itemMonitor.title}}</span>
        </div>
    <div style="color: green;">
        <mat-icon aria-hidden="true" color="red" aria-label="Example attach_money icon" fontIcon="request_quote"></mat-icon>
    </div>
        
    </div>
    <div class="numvalue">
        <div > <span class="cantidad" >{{itemMonitor.value}}</span> <span class="positivePersent" >{{itemMonitor.leyenda}}</span> </div>
        <!-- <div> <span >color</span> </div> -->
    </div>
<!-- </div> -->
 

    
