<div class="containerform">
  <header class="headerC">Servicios2</header>
 
  <mat-label>{{daysToDday}}-{{hoursToDday}}:{{minutesToDday}}: {{secondsToDday}}</mat-label>
  <form [formGroup]="serviceform" class="formclas">
    <div class="row">
      <mat-form-field appearance="outline" class="col-50">
          <mat-label>Descripcion</mat-label>
          <input matInput placeholder="Servicio"
          formControlName="descripcion"
          [(ngModel)]="descripcionValue"
          required
          >
          <mat-error *ngIf="descripcion.invalid">{{getErrorDesc()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="test()" >Test</button>

    </div>
        

    
        <div  align="end" style="margin-right: 10px;">
            <button mat-raised-button color="secundary" (click)="update()" style="margin: 10px;" >Cancelar</button>
            <button mat-raised-button color="primary" (click)="save()" >Guardar</button>
          </div>
  </form>

 
 <app-alertsnack></app-alertsnack>

 
</div>