<div
  class="relative flex size-full min-h-screen flex-col bg-[#fbf9f9] group/design-root overflow-x-hidden"
  style="font-family: 'Work Sans', 'Noto Sans', sans-serif"
>
  <div class="layout-container flex h-full grow flex-col">
    <div class="px-40 flex flex-1 justify-center py-5">
      <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="@container">
          <div class="@[480px]:px-4 @[480px]:py-3">
            <div
              class="w-full bg-center bg-no-repeat bg-cover flex flex-col justify-end overflow-hidden bg-[#fbf9f9] @[480px]:rounded-xl min-h-[218px]"
              style="
                background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuC-AYoXMjne_LOBpUdllSEuSENP0zonm3-HffzKqyJy-U-Ld5kE0XGjhhqmLs1fCGFiWtwxwfr9OfrG6rtZJPFZDeT1em9dcsaR9-XfbF4qpE9TCiHoej4510pPTrSPRujrZsCNa1pFxD2P-pO5-gW-Bf3piVtOA6w9RDbJMzMDIknvG-rkbQ7HoOknS6iCLe0UmRiXpu_hybvO-NNsYRLCCX231GUQZcqQji5gJWOC5P5QbH7XrorAS9Mdo-S4diOITv5erXNCx-30');
              "
            ></div>
          </div>
        </div>
        <h2
          class="text-[#191011] tracking-light text-[28px] font-bold leading-tight px-4 text-center pb-3 pt-5"
        >
          Acceso Denegado
        </h2>
        <p
          class="text-[#191011] text-base font-normal leading-normal pb-3 pt-1 px-4 text-center"
        >
          No tienes permiso para acceder a esta página. Por favor, regresa a la
          página principal o contacta al administrador si crees que esto es un
          error.
        </p>
        <div class="flex px-4 py-3 justify-center">
          <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#e8b4b7] text-[#191011] text-sm font-bold leading-normal tracking-[0.015em]"
          >
            <span class="truncate">Volver a la página principal</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
