<div class="containerform">
  <!-- <header class="headerC">Venta</header> -->
  <span class="etiquetaTiempo">
    <span class="headerC">Venta - </span>{{ VehiclesFront }}
  </span>
  <form [formGroup]="salesForm" class="formclas">
    <div class="row">
      <mat-form-field appearance="outline" class="col-40">
        <mat-label>Cliente</mat-label>
        <input
          matInput
          placeholder="Nombre Cliente"
          formControlName="client"
          required
        />
        <!-- <mat-error *ngIf="descripcion.invalid">{{getErrorDesc()}}</mat-error> -->
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="col-30-margin"
        floatLabel="always"
      >
        <mat-label>Carro</mat-label>
        <input
          matInput
          placeholder="Carro"
          formControlName="description"
          required
        />
        <!-- <mat-error *ngIf="precio.invalid">{{getErrorPrecio()}}</mat-error> -->
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="col-15-long"
        floatLabel="always"
      >
        <mat-label>Telefono</mat-label>
        <input
          matInput
          #postalCode
          maxlength="10"
          placeholder="6682256555"
          type="number"
          formControlName="telephone"
          required
        />
        <mat-hint align="end">{{ postalCode.value.length }} / 10</mat-hint>
        <!-- <mat-error >{{getErrorTiempoServicio()}}</mat-error> -->
      </mat-form-field>
    </div>
    <div class="contenedorServices">
      <div class="leftService">
        <section class="example-section" formGroupName="services">
          <h4>Seleciona los servicios que requiere el clinete:</h4>

          <p *ngFor="let service of serviceList">
            <mat-checkbox [formControlName]="service.descripcion">
              {{ service.descripcion }}
            </mat-checkbox>
          </p>
        </section>
        <!-- <section class="example-section">
        <h4>You chose:</h4>
        {{ salesForm.value.services | json }}
      </section> -->
        <!-- <mat-form-field  appearance="outline" class="col-70-servicio">
            <mat-label>Servicio</mat-label>
            <input type="text"
                   matInput
                   formControlName="service"
                   required
                   [matAutocomplete]="autoGroup">
              <mat-autocomplete #autoGroup="matAutocomplete">
                @for (service of stateGroupOptions | async; track service.id) {
                    <mat-option [value]="service.id">
                      
                      
                      <small>{{service.descripcion}}- ${{service.precio}}</small>
                    </mat-option>
                  }
            </mat-autocomplete>
          </mat-form-field> -->
        <button
          style="width: 200px"
          mat-raised-button
          color="accent"
          (click)="agregar()"
        >
          Agregar Servicio
        </button>
      </div>
      <div class="rightService">
        @if (listCarrito.length>0){
        <h4>Lista de servicios seleccionados</h4>
        <app-searchcustomer
          [carritoL]="listCarrito"
          (carritoEvent)="updateCarrito($event)"
        ></app-searchcustomer>
        }
      </div>
    </div>

    <div align="end" style="margin-right: 10px">
      <button
        mat-raised-button
        color="primary"
        style="margin: 10px; width: 150px; height: 50px"
        (click)="save()"
      >
        Guardar
      </button>
      <button
        style="width: 150px; height: 50px"
        mat-raised-button
        color="secundary"
        (click)="regresa()"
      >
        Regresar
      </button>
    </div>
  </form>
</div>
