.containerform {
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.headerC {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.col-15 {
    float: left;
    width: 15%;
    /* margin-top: 6px; */
    margin-left: 10px;
}

.col-15-long {
    float: left;
    width: 15%;
    /* margin-top: 6px; */
    margin-left: 10px;
}

.col-25 {
    float: left;
    width: 25%;
    /* margin-top: 6px; */
}

.col-30 {
    float: left;
    width: 30%;
    /* margin-top: 6px; */
}

.col-30-margin {
    float: left;
    width: 30%;
    /* margin-top: 6px; */
    margin-left: 10px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-70-servicio {
    float: left;
    width: 70.5%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}


.col-40 {
    float: left;
    width: 40%;
    /* margin-top: 6px; */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}

@media screen and (max-width: 600px) {


    .col-75,
    .col-50,
    .col-40,
    .col-30-margin,
    .col-25,
    .col-15-long,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-inline-start: 0;
    }

    .col-15 {
        width: calc(98%/2);
        margin-top: 0;
        margin-left: 0;
        margin-right: 5px;

    }

    .col-15:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {


    .col-75,
    .col-50,
    .col-40,
    .col-30-margin,
    .col-25,
    .col-15,
    .col-15-long,
    input[type=submit] {
        width: 45%;
        margin-top: 0;
        margin-left: 0;
        margin-inline-start: 0;
    }

    .col-40 {
        margin-right: 10px;
    }

    /* .col-15 {
        width: calc(98%/2);
        margin-top: 0;
        margin-left: 0;
        margin-right: 5px;

    } */

    .col-15:last-child {
        margin-right: 0;
    }
}