.example-spacer {
    flex: 1 1 auto;
}

.logo {
    cursor: pointer;
  height: 40px;   /* ajusta según tu logo */
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;      /* borde blanco */
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
}
/* 
.lettreclas {
  font-family: 'Arial', sans-serif;
  letter-spacing: 2px;
} */


.lettreclas {
 font-family: 'Poppins', sans-serif;
 
  background: linear-gradient(90deg, #00c6ff, #eaecef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lettreclas1 {
 font-family: 'Playfair Display', serif;
  /* font-size: 52px;
  font-weight: 600; */
  color: #d4af37;
  /* background-color: #000; */
  /* padding: 15px 25px; */
  display: inline-block;
}