<div>
    <div class="cardCustom">
        @for (item of listaMonitoring; track item.title) {
            <app-msale class="containercard" [itemMonitor]="item"></app-msale>
            }
    
           
    </div>
    <div class="graficas">
        <div class="grafica">
            <canvas id="canvas"
            style="height: 30vh; max-height: 30vh" 
            >{{chart}}</canvas>
    
            
            <!-- <canvas baseChart
            [data]="chart"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
     
            ></canvas>  -->
        </div>
        <div class="grafica">
            <canvas id="canvasBar"
            style="height: 30vh; max-height: 30vh" 
            >{{chart}}</canvas>
    
        </div>
    </div>
   

</div>


