.contenedorServices {
  display: flex;
  gap: 16px;
}

  .kpi-title {
        color: #64748b;
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .kpi-value {
        font-size: 1.875rem;
        font-weight: 700;
        color: #1e293b;
        margin-bottom: 0.5rem;
      }

.leftService,
.rightService {
  flex: 1;              /* divide equitativamente */
  padding: 16px;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}


@media (max-width: 768px) {
  .contenedorServices {
    flex-direction: column; /* uno debajo del otro */
  }

  .leftService,
  .rightService {
    width: 90%; /* ocupa todo el ancho */
  }
}