.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

form .fields .input-fieldc {
    width: calc(100% /2 - 15px);
}

form {
    display: flex;
    flex-direction: column;
}

@media(max-width:750px) {
    form .fields .input-fieldc {
        width: calc(100% /2 - 15px);
    }
}