.containerform {
    position: relative;
    /* max-width: 100%;
    width: 100%; */
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}

.containerform header {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

/* .containerform::before {
    content: '';
    position: absolute;

    top: 30px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
} */

.containerform form {
    position: relative;
    margin-top: 16px;
    background-color: #fff;

}


.containerform form .details {
    margin-top: 10px;

}

.containerform form .titleform {
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 10px;
    color: #ff4081;
}

.containerform form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-fieldc {
    display: flex;
    width: calc(100% /3 - 15px);
    flex-direction: column;
    margin: 5px 0;



}

.errorCustom {
    display: block;
    color: var(--mdc-theme-error, #f44336);
}

table {
    width: 100%;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}

.etiquetaTiempo {
    color: #ceafcf;
    /* font-family: "Arial", sans-serif; */
    /* Tipo de fuente */
    /* font-size: 18px; */
    /* Tamaño de fuente */
    font-weight: bold;

    /* Negrita */
    /* text-decoration: underline; */
    /* Subrayado */
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
    /* Sombra de texto */
}

@media(max-width:750px) {
    form .fields .input-fieldc {
        width: calc(100% /2 - 15px);
    }
}

@media(max-width:550px) {
    form .fields .input-fieldc {
        width: 100%
    }
}