<div class="containerform">
    <header>Registrar Venta</header>
     <form [formGroup]="salesForm" >
        <div class="formc">
            <div class="details">
                <span class="etiquetaTiempo">{{VehiclesFront}}</span>
                <!-- <mat-label style="margin-left: 10px;" class="etiquetaTiempo" >hay 3 Vehiculos por delante</mat-label> -->
                <div class="fields">
    
                    <mat-form-field appearance="outline" class="input-fieldc" >
                        <mat-label>Nombre Cliete</mat-label>
                        <input matInput placeholder="Nombre cliente"
                        formControlName="client"
                        required
                        >
                        <mat-error *ngIf="client.invalid">{{getErrorMessage()}}</mat-error>
                       
                        
                      </mat-form-field> 
                      <mat-form-field appearance="outline" class="input-fieldc"  >
                        <mat-label>Descripcion</mat-label>
                        <input matInput placeholder="Carro"
                        formControlName="description"
                        required
                        >
                        <mat-error *ngIf="description.invalid">{{geteErrorDescripcion()}}</mat-error>
                        
                      </mat-form-field> 
    
                      <mat-form-field appearance="outline" class="input-fieldc"  >
                        <mat-label>Telefono</mat-label>
                        <input matInput #postalCode maxlength="10" placeholder="6682256555" 
                        type="number" 
                        formControlName="telephone"
                        >
                         <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
                    
                        
                      </mat-form-field> 
    
                                     
         <!-- [formControl]="service"  -->
                      <mat-form-field appearance="outline" class="input-fieldc" >
                    
                        <mat-label>Servicio</mat-label>
                        <mat-select [(value)]="selected"   multiple required>
                          <!-- <mat-select-trigger>
                            {{service.value?.[0] || ''}}
                            <span *ngIf="(service.value?.length || 0) > 1" class="example-additional-selection">
                              (+{{(service.value?.length || 0) - 1}} {{service.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger> -->
                          <mat-option *ngFor="let topping of serviceList" [value]="topping.id">{{topping.descripcion}}</mat-option>
                        </mat-select>
                        <span  class="errorCustom" >{{geteErrorService()}}</span>
                      </mat-form-field>
                     
    
                      <!-- <mat-form-field>
                        <mat-label>Servicio</mat-label>
                    
                        <mat-select [(value)]="selected" multiple>
                   
                          <mat-option *ngFor="let currency of toppingList" [value]="currency.servicioId">{{currency.descripcion}}</mat-option>
                        </mat-select>
                      </mat-form-field> -->
    
                   
                   
                    <button mat-button color="primary"  (click)="vewSalesDetail()" >Detalle</button>
                    <mat-label class="etiquetaTiempo" >{{tiempoEstimadostr}}</mat-label>
                    <br>
                    <table mat-table [dataSource]="itemVenta" class="mat-elevation-z8">
                      <!-- Item Column -->
                      <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> Concepto </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                      </ng-container>
                    
                      <!-- Cost Column -->
                      <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Precio </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                    </table>
    
                </div>
            </div>
        </div>
        <div  align="end" style="margin-right: 10px;margin-top: 10px;">
          <button mat-raised-button style="margin-right: 10px;" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="saveSale()" >Guardar</button>
        <button style="margin-left: 10px;width: 100px;" mat-raised-button color="accent" (click)="openDialog()">Pagar</button>
      </div>
    
      
    </form>
  
</div>