

    <div class="card-list">
        <div class="card" (click)="showWorkDetails(trabajo.id)">
            <span class="left-div">{{trabajo.nombreCliente}}</span>
            <!-- <span class="right-div">{{getTimerWork2(trabajo.fechaCreo,trabajo.id)}}</span> -->
            <span class="right-div">{{this.fecharMostrar}}</span>
            <!-- <span class="all-row"></span> -->
           <div class="all-row">
            <mat-chip-listbox aria-label="Dog selection" >
                <mat-chip-option  color="accent" selected disabled >
               {{trabajo.nombreServicio}}
                </mat-chip-option>
                <mat-chip-option  color="primary" selected disabled>
                   {{trabajo.etapaDesc}}
                     </mat-chip-option>
           </mat-chip-listbox>
           </div>
    
        </div>
    
    </div>
  




   <!-- <button mat-fab color="primary"class="floatbuttom"
    aria-label="Example icon button with a delete icon" (click)="newSales()">
    <mat-icon>add</mat-icon>
  </button> -->
  

<!-- <ol id="lista4">
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li> 
</ol> -->