<div class="card-list">
    <div class="card">
        <span class="left-div">Gustavo Carreño Nevarez</span>
        <span class="right-div">2:20 </span>
        <!-- <span class="all-row"></span> -->
       <div class="all-row">
        <mat-chip-listbox aria-label="Dog selection" >
            <mat-chip-option  color="accent" selected disabled >
           Honda civic 2018
            </mat-chip-option>
            <mat-chip-option  color="primary" selected disabled>
                Esperando..
                 </mat-chip-option>
       </mat-chip-listbox>
       </div>

    </div>

</div>
<div class="card-list">
  <div class="card">
      <span class="left-div">Cristopher Carreño Cabrera</span>
      <span class="right-div">0:20 </span>
      <!-- <span class="all-row"></span> -->
     <div class="all-row">
      <mat-chip-listbox aria-label="Dog selection" >
          <mat-chip-option  color="accent" selected disabled >
         Ford Lobo 2018
          </mat-chip-option>
          <mat-chip-option  color="primary" selected disabled>
              Aspurando
               </mat-chip-option>
     </mat-chip-listbox>
     </div>
  </div>
</div>
<div class="card-list">
  <div class="card">
      <span class="left-div">Andrea </span>
      <span class="right-div">0:20 </span>
      <!-- <span class="all-row"></span> -->
     <div class="all-row">
      <mat-chip-listbox aria-label="Dog selection" >
          <mat-chip-option  color="accent" selected disabled >
         Ford Lobo 2018
          </mat-chip-option>
          <mat-chip-option  color="primary" selected disabled>
              Aspurando
               </mat-chip-option>
     </mat-chip-listbox>
     </div>
  </div>
</div>



   <button mat-fab color="primary"class="floatbuttom"
    aria-label="Example icon button with a delete icon" (click)="newSales()">
    <mat-icon>add</mat-icon>
  </button>
  

<!-- <ol id="lista4">
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li> 
</ol> -->